# Файлы конфигурации среды
/.env

# Исключаем виртуальное окружение
venv/

# записи
recordings/

# Исключаем файлы настроек IDE
.vscode/
.idea/

# Артефакты Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи и временные файлы
*.log
*.tmp

# Архивы
*.gz